* {
  box-sizing: border-box;
  border-radius: 20px;
  padding:10px;
}
body {
  display: grid;
  grid-template-columns: 0 1fr;
  grid-template-rows: 100px 1fr;
  gap: 10px;
  background-color: azure;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: rgb(171, 255, 229);
}

.sidebar {
  display: block;
  padding:0;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgb(160, 250, 250);
  overflow: hidden;
  transition: width 0.3s ease;
}

.active {
  width: 150px;
  padding:10px;
}

.mainContent {
  grid-column: 2/-1;
  grid-row: 2/3;
  background-color: rgb(136, 250, 250);
  transition: width 0.3s ease;
}

svg:hover {
  cursor: pointer;
}

body.sidebar-active {
  grid-template-columns: 150px 1fr;
}
